<tr>
  <% unless @staff_member %>
  <td>
    <%= link_to(event.staff_member.family_name + event.staff_member.given_name, admin_staff_member_staff_events_path(event.staff_member)) %>
  </td>
  <% end %>
  <td><%= event.description %></td>
  <td class="date">
    <%= event.occurred_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </td>
</tr>
